h2 {
    color: red;
    font-size: 2em;
}

p {
    color: white;
    font-size: 1.25em;
}

h3 {
    color: green;
    font-size: 1.5em;
}

.comment {
    color: white;
    font-size: 1em;
}

.user {
    color: green;
    font-size: 1em;
    font-style: italic;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 0.5em;
    object-fit: cover;
    overflow: hidden;
}
