.deleteYes {
    background-color: red !important;
}

.deleteNo {
    background-color: grey !important;
}

.deleteFaxModal {
    padding: .1em 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 300px;
    background: linear-gradient(to left, rgba(100,100,100,0.5) 0%,rgba(0,0,0,1) 100%); 
    border-radius: 20px;
}

